@page "/"

@inject HttpClient http

<h1>Your activity</h1>

@if (allInvoices == null)
{

}
else
{
    <h2>CA réel : <strong>@SalesRevenues.ToString("€ 0.00")</strong></h2>

    <h2>CA estimé : <strong>@CaEstime.ToString("€ 0.00")</strong></h2>

    <h2>Impayé : <strong>@Outstanding.ToString("€ 0.00")</strong></h2>
}


@code {



    private IEnumerable<Invoice> allInvoices = null;
    private decimal SalesRevenues;
    private decimal Outstanding;
    private decimal CaEstime;

    protected override async Task OnInitializedAsync()
    {
        allInvoices = await http.GetFromJsonAsync<IEnumerable<Invoice>>("api/dashboard");
        SalesRevenues = allInvoices.Sum(invoice => invoice.Paid);
        Outstanding = allInvoices.Sum(invoice => invoice.Amount - invoice.Paid);
        CaEstime = allInvoices.Sum(invoice => invoice.Amount);
    }
}